<title>Known bugs in MPFR 1.0</title>
<center><h1>Known bugs in MPFR 1.0</h1></center>

<li> Some numbers very near from 1 might be incorrectly
     printed, for example 9.9999999999 instead of 0.99999999999.
     The following <a href="patch3">patch in get_str.c</a> fixes that bug.

<li> The subtraction of two numbers where the whole mantissa of one cancels
     may produce a Segmentation fault. This is due to an undocumented
     feature of GMP: mpn_lshift does not like a size zero.
     The following <a href="patch4">patch in sub.c</a> fixes that problem.

<li> Some subtractions may produce an Array Bound Write.
     The following <a href="patch5">patch in sub.c</a> fixes that problem.

<li> The sign of a square root may be wrong if a negative number was
     previously stored in the destination variable. Apply the following
     <a href="patch6">patch to sqrt.c</a>.

<li> When GMP is configured with --disable-alloca, some functions produce
     a Segmentation fault. Apply the following <a href="patch7">patch to
     ui_sub.c and ui_div.c</a>.
     
