<title>Known bugs in MPFR 0.4</title>
<center><h1>Known bugs in MPFR 0.4</h1></center>

<li> <tt>mpfr_cmp(b, c)</tt> fails when b=0 and 0 < c < 1.
A simple workaround is to replace in file <tt>cmp.c</tt> the line<br>
<ul><tt>if (!NOTZERO(b) && !NOTZERO(c)) { return 0; }</tt></ul>
by the following lines:<br>
<ul><tt>if (!NOTZERO(b)) {<br>
&nbsp;if (!NOTZERO(c)) return 0; else return -(SIGN(c));<br>
}<br>
else if (!NOTZERO(c)) return SIGN(b);</tt></ul>
<p>

<li> <tt>mpfr_out_str</tt> gives a wrong result for a power-of-two base
and rounding away from zero. A workaround is to add in file <tt>get_str.c</tt>
the line:
<ul><tt>mpfr_round(b, rnd_mode, EXP(b));</tt></ul>
after the line
<ul><tt>ok = mpfr_can_round(b, EXP(b)-sh-1, rnd_mode, rnd_mode, n*pow2);</tt></ul>

