<title>The MPFR library: timings</title>

<center><h1>The MPFR library: timings with GMP 3.0</h1></center>

<center>Updated for <a href="http://www.swox.se/gmp/gmp3.html">GMP 3.0</a>,
old timings with GMP 2.0.2 still available <a href="timings.html">here</a>
</center>
<p>
<b>32-bit machine.</b>
The following tables give the cpu time in milliseconds spent by several systems
or libraries for different operations, at different precisions.
These timings were obtained on a 400Mhz Xeon 
(alexandre.medicis.polytechnique.fr)
running Linux (libraries were compiled with gcc -O2).
Thanks to the <a href="http://medicis.polytechnique.fr/">M&eacute;dicis</a>
center for providing a machine with all those systems installed on it.
<p>
<center>
<table border=1>
<tr align=center>
<td></td><td><a href="http://www.maplesoft.com/">Maple</a></td><td><a href="http://www.mupad.de/">MuPAD</a></td><td><a href="http://www.swox.se/gmp/">GMP MPF</a></td><td><a href="https://www.mpfr.org/">MPFR</a></td><td><a href="http://www.wolfram.com/">Mathematica</a></td><td><a href="http://www.parigp-home.de/">Pari</a></td><td><a href="http://www.maths.usyd.edu.au:8000/u/magma/">Magma</a></td><td><a href="http://win-www.uia.ac.be/u/cant/arexp.html">Arithmetic Explorer</a></td>
</tr>
<tr align=center>
<td></td><td>commercial</td><td>commercial/free</td><td>free</td><td>free</td><td>commercial</td><td>free</td><td>commercial</td><td>free</td>
</tr>
<tr align=center>
<td></td><td>interactive</td><td>interactive</td><td>library</td><td>library</td><td>interactive</td><td>library</td><td>interactive</td><td>interactive</td>
</tr>
<tr align=center>
<td>directed rounding</td><td>no</td><td>no</td><td>no</td><td>yes</td><td>no</td><td>no</td><td>no</td><td>yes</td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>100 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
<td align=left>Ar. Explorer 1.00</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication</td>
<td>0.04</td><td>0.024</td><td>0.0037</td><td>0.0044</td><td>0.020</td><td>0.003</td><td>0.018</td><td>0.017</td>
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>0.15</td><td>0.027</td><td>0.007</td><td>0.009</td><td>0.143</td><td>0.007</td><td>0.033</td><td>0.018</td>
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>0.29</td><td>0.072</td><td>0.017</td><td>0.017</td><td>0.18</td><td>0.032</td><td>0.14</td><td>0.10</td>
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>1.4</td><td>0.47</td><td>na</td><td>0.23</td><td>0.94</td><td>0.16</td><td>1.1</td><td>na</td>
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>2.3</td><td>0.82</td><td>na</td><td>0.40</td><td>1.24</td><td>0.35</td><td>2.0</td><td>na</td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>1000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
<td align=left>Ar. Explorer 1.00</td>
</tr>
<tr align=right>
<td align=center>multiplication</td>
<td>1.1</td><td>0.48</td><td>0.14</td><td>0.14</td><td>0.37</td><td>0.18</td><td>1.1</td><td>0.51</td>
</tr>
<tr align=right>
<td align=center>division</td>
<td>11.3</td><td>0.56</td><td>0.22</td><td>0.23</td><td>1.12</td><td>0.25</td><td>1.3</td><td>0.40</td>
</tr>
<tr align=right>
<td align=center>square root</td>
<td>15.0</td><td>1.5</td><td>0.34</td><td>0.18</td><td>1.6</td><td>0.70</td><td>3.3</td><td>1.3</td>
</tr>
<tr align=right>
<td align=center>exponential</td>
<td>53</td><td>35</td><td>na</td><td>15</td><td>35</td><td>14</td><td>79</td><td>na</td>
</tr>
<tr align=right>
<td align=center>logarithm</td>
<td>69</td><td>52</td><td>na</td><td>15</td><td>31</td><td>23</td><td>119</td><td>na</td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>10000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
<td align=left>Ar. Explorer 1.00</td>
</tr>
<tr align=right>
<td align=center>multiplication</td>
<td>39</td><td>45</td><td>4.7</td><td>4.8</td><td>15</td><td>17</td><td>104</td><td>50</td>
</tr>
<tr align=right>
<td align=center>division</td>
<td>1130</td><td>49</td><td>9.8</td><td>10.1</td><td>43</td><td>22</td><td>111</td><td>37</td>
</tr>
<tr align=right>
<td align=center>square root</td>
<td>1390</td><td>160</td><td>15.6</td><td>7.3</td><td>55</td><td>72</td><td>362</td><td>88</td>
</tr>
<tr align=right>
<td align=center>exponential</td>
<td>5330</td><td>9690</td><td>na</td><td>1600</td><td>930</td><td>3680</td><td>22300</td><td>na</td>
</tr>
<tr align=right>
<td align=center>logarithm</td>
<td>5660</td><td>15720</td><td>na</td><td>420</td><td>1240</td><td>6750</td><td>35400</td><td>na</td>
</tr>
</table>
</center>
<p>
The source file of these tests is available for
<a href="timings.mpl">Maple</a>,
<a href="timings.mu">MuPAD</a>,
<a href="timings-mpf.c">MPF 3.0</a>,
<a href="timings-mpfr.c">MPFR</a>,
<a href="timings.mma">Mathematica</a>,
<a href="timings-pari.c">Pari</a>,
and <a href="timings.magma">Magma</a>.
<p>
<b>64-bit machine.</b>
The following timings were obtained, with the stimulation and
help of Bruno Salvy, on a 
500Mhz Compaq XP/1000 (aka Alpha EV6) under OSF/1 4.0 with 640MB
of main memory (leon1.medicis.polytechnique.fr).
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>100 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>.0125
<td>0.0010
<td>0.0012
<td>0.0114995
<td>0.0012
<td>0.0033
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>.0278
<td>0.0021
<td>0.0029
<td>0.108996
<td>0.0065
<td>0.0116
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>.0847
<td>0.0051
<td>0.0047
<td>0.287655
<td>0.028
<td>0.0484
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>.583
<td>na
<td>0.078
<td>0.871632
<td>0.17
<td>0.4316
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>1.08
<td>na
<td>0.29
<td>0.836633
<td>0.38
<td>0.73
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>1000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>.185
<td>0.031
<td>0.031
<td>0.101663
<td>0.067
<td>0.066
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>.721
<td>0.054
<td>0.055
<td>0.461648
<td>0.116
<td>0.117
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>1.28
<td>0.080
<td>0.044
<td>0.988294
<td>0.37
<td>0.5
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>14.2
<td>na
<td>3.6
<td>9.86627
<td>7.44
<td>7.17
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>15.8
<td>na
<td>3.8
<td>19.3326
<td>12.9
<td>13.5
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>10000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.0</td>
<td align=left>MPFR 0.4</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.6-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>7.20
<td>1.1
<td>1.1
<td>7.5997
<td>6.7
<td>6.0
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>57.0
<td>2.4
<td>2.4
<td>22.9991
<td>7.6
<td>6.6
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>73.9
<td>3.4
<td>1.7
<td>34.7653
<td>26.0
<td>21.7
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>1590.
<td>na
<td>370.
<td>1615.94
<td>1600
<td>1333
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>1410.
<td>na
<td>84.
<td>7418.54
<td>2550
<td>2217
</tr>
</table>
</center>
