<title>The MPFR library: timings</title>

<center><h1>Comparison of MPFR with other software</h1></center>

<center>Updated for MPFR 2001 with <a href="http://www.swox.se/gmp/gmp3.1.html">GMP 3.1.1</a>,
old timings with MPFR 1.0 and GMP 3.1 still available <a href="timings-mpfr1.0-gmp3.1.html">here</a>
</center>
<p>
<b>32-bit machine.</b>
The following tables give the cpu time in milliseconds spent by several systems
or libraries for different operations, at different precisions.
These timings were obtained on a 400Mhz Xeon 
(alexandre.medicis.polytechnique.fr)
running Linux (libraries were compiled with gcc 2.95.2 with option -O2).
Thanks to the <a href="http://medicis.polytechnique.fr/">M&eacute;dicis</a>
center for providing a machine with all those systems installed on it.
<p>
<center>
<table border=1>
<tr align=center>
<td></td><td><a href="http://www.maplesoft.com/">Maple</a></td><td><a href="http://www.mupad.de/">MuPAD</a></td><td><a href="http://www.swox.se/gmp/">GMP MPF</a></td><td><a href="https://www.mpfr.org/">MPFR</a></td><td><a href="http://www.wolfram.com/">Mathematica</a></td><td><a href="http://www.parigp-home.de/">Pari</a></td><td><a href="http://www.maths.usyd.edu.au:8000/u/magma/">Magma</a></td><td><a href="http://win-www.uia.ac.be/u/cant/arexp.html">Arithmetic Explorer</a></td>
<td><a href="http://irram.uni-trier.de/">iRRAM</a></td>
</tr>
<tr align=center>
<td></td><td>commercial</td><td>commercial/free</td><td>free</td><td>free</td><td>commercial</td><td>free</td><td>commercial</td><td>free</td><td>free</td>
</tr>
<tr align=center>
<td></td><td>interactive</td><td>interactive</td><td>library</td><td>library</td><td>interactive</td><td>library</td><td>interactive</td><td>interactive</td>
<td>library</td>
</tr>
<tr align=center>
<td>directed rounding</td><td>no</td><td>no</td><td>no</td><td>yes</td><td>no</td><td>no</td><td>no</td><td>yes</td><td>no</td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>100 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
<td align=left>Ar. Explorer 1.00</td>
<td align=left>iRRAM 2000-08-22</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication</td>
<td>0.04</td>
<td>0.024</td>
<td>0.0037</td>
<td>0.0038</td>
<td>0.020</td>
<td>0.003</td>
<td>0.021</td>
<td>0.017</td>
<td>0.006</td>
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>0.15</td>
<td>0.027</td>
<td>0.007</td>
<td>0.0080</td>
<td>0.143</td>
<td>0.007</td>
<td>0.0351</td>
<td>0.018</td>
<td>0.010</td>
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>0.29</td>
<td>0.072</td>
<td>0.0173</td>
<td>0.0115</td>
<td>0.18</td>
<td>0.032</td>
<td>0.1419</td>
<td>0.10</td>
<td>0.078</td>
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>1.4</td>
<td>0.47</td>
<td>na</td>
<td>0.149</td>
<td>0.94</td>
<td>0.16</td>
<td>1.1191</td>
<td>na</td>
<td>0.522</td>
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>2.3</td>
<td>0.82</td>
<td>na</td>
<td>0.344</td>
<td>1.24</td>
<td>0.35</td>
<td>2.0211</td>
<td>na</td>
<td>1.45</td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td></td>
<td></td>
<td>na</td>
<td>1.35</td>
<td></td>
<td></td>
<td></td>
<td>na</td>
<td></td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>1000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
<td align=left>Ar. Explorer 1.00</td>
<td align=left>iRRAM 2000-08-22</td>
</tr>
<tr align=right>
<td align=center>multiplication</td>
<td>1.1</td>
<td>0.48</td>
<td>0.142</td>
<td>0.145</td>
<td>0.37</td>
<td>0.18</td>
<td>1.089</td>
<td>0.51</td>
<td>0.17</td>
</tr>
<tr align=right>
<td align=center>division</td>
<td>11.3</td>
<td>0.56</td>
<td>0.229</td>
<td>0.228</td>
<td>1.12</td>
<td>0.25</td>
<td>1.301</td>
<td>0.40</td>
<td>0.287</td>
</tr>
<tr align=right>
<td align=center>square root</td>
<td>15.0</td>
<td>1.5</td>
<td>0.355</td>
<td>0.177</td>
<td>1.6</td>
<td>0.70</td>
<td>3.41</td>
<td>1.3</td>
<td>0.364</td>
</tr>
<tr align=right>
<td align=center>exponential</td>
<td>53</td>
<td>35</td>
<td>na</td>
<td>6.24</td>
<td>35</td>
<td>14</td>
<td>78.51</td>
<td>na</td>
<td>21.1</td>
</tr>
<tr align=right>
<td align=center>logarithm</td>
<td>69</td>
<td>52</td>
<td>na</td>
<td>7.76</td>
<td>31</td>
<td>23</td>
<td>118.9</td>
<td>na</td>
<td>18.8</td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td></td>
<td></td>
<td>na</td>
<td>36.8</td>
<td></td>
<td></td>
<td></td>
<td>na</td>
<td></td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>10000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MuPAD 1.4.2</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 4.0.1</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
<td align=left>Ar. Explorer 1.00</td>
<td align=left>iRRAM 2000-08-22</td>
</tr>
<tr align=right>
<td align=center>multiplication</td>
<td>39</td>
<td>45</td>
<td>4.7</td>
<td>4.8</td>
<td>15</td>
<td>17</td>
<td>104.5</td>
<td>50</td>
<td>4.88</td>
</tr>
<tr align=right>
<td align=center>division</td>
<td>1130</td>
<td>49</td>
<td>10.1</td>
<td>10.1</td>
<td>43</td>
<td>22</td>
<td>116</td>
<td>37</td>
<td>10.5</td>
</tr>
<tr align=right>
<td align=center>square root</td>
<td>1390</td>
<td>160</td>
<td>15.7</td>
<td>7.5</td>
<td>55</td>
<td>72</td>
<td>363</td>
<td>88</td>
<td>15.1</td>
</tr>
<tr align=right>
<td align=center>exponential</td>
<td>5330</td>
<td>9690</td>
<td>na</td>
<td>620</td>
<td>930</td>
<td>3680</td>
<td>22360</td>
<td>na</td>
<td>3740</td>
</tr>
<tr align=right>
<td align=center>logarithm</td>
<td>5660</td>
<td>15720</td>
<td>na</td>
<td>343</td>
<td>1240</td>
<td>6750</td>
<td>35419</td>
<td>na</td>
<td>1070</td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td></td>
<td></td>
<td>na</td>
<td>3280</td>
<td></td>
<td></td>
<td></td>
<td>na</td>
<td></td>
</tr>
</table>
</center>
<p>
The source file of these tests is available for
<a href="timings.mpl">Maple</a>,
<a href="timings.mu">MuPAD</a>,
<a href="timings-mpf.c">MPF from GMP</a>,
<a href="timings-mpfr.c">MPFR</a>,
<a href="timings.mma">Mathematica</a>,
<a href="timings-pari.c">Pari</a>,
and <a href="timings.magma">Magma</a>.
<p>
<b>64-bit machine.</b>
The following timings were obtained, with the stimulation and
help of Bruno Salvy, on a 
500Mhz Compaq XP/1000 (aka Alpha EV6) with gcc 2.95.2 
under OSF/1 4.0 with 640MB
of main memory (leon1.medicis.polytechnique.fr).
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>100 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>.0125
<td>0.000970
<td>0.000965
<td>0.0114995
<td>0.0012
<td>0.0033
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>.0278
<td>0.00212
<td>0.0025
<td>0.108996
<td>0.0065
<td>0.0134
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>.0847
<td>0.00505
<td>0.0043
<td>0.287655
<td>0.028
<td>0.0483
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>.583
<td>na
<td>0.058
<td>0.871632
<td>0.17
<td>0.4516
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>1.08
<td>na
<td>0.119
<td>0.836633
<td>0.38
<td>0.8133
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>na
<td>0.37
<td>
<td>
<td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>1000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>.185
<td>0.0232
<td>0.0228
<td>0.101663
<td>0.067
<td>0.067
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>.721
<td>0.0472
<td>0.0460
<td>0.461648
<td>0.116
<td>0.116
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>1.28
<td>0.0709
<td>0.0387
<td>0.988294
<td>0.37
<td>0.5
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>14.2
<td>na
<td>1.27
<td>9.86627
<td>7.44
<td>7.33
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>15.8
<td>na
<td>1.60
<td>19.3326
<td>12.9
<td>14.01
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>na
<td>6.13
<td>
<td>
<td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>10000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>7.20
<td>0.859
<td>0.86
<td>7.5997
<td>6.7
<td>6.17
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>57.0
<td>1.85
<td>1.83
<td>22.9991
<td>7.6
<td>6.7
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>73.9
<td>2.74
<td>1.36
<td>34.7653
<td>26.0
<td>21.7
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>1590.
<td>na
<td>110
<td>1615.94
<td>1600
<td>1366
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>1410.
<td>na
<td>63.6
<td>7418.54
<td>2550
<td>2150
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>na
<td>500.
<td>
<td>
<td>
</tr>
</table>
</center>
<p>
<b>64-bit machine.</b>
The following timings were obtained, with the stimulation and
help of David Daney, on a 
500Mhz Compaq XP/1000 (aka Alpha EV6) with gcc 2.95.2 
under OSF/1 4.0 with 640MB
of main memory (lepois.loria.fr).
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>100 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! cosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>cosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! tanh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>tanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! acosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>acosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! asinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>asinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! atanh(x) where x=1/sqrt(3)>
<tr align=right>
<td align=center>atanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! x! where x=sqrt(3)>
<tr align=right>
<td align=center>!</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! 2^x where x=sqrt(3)>
<tr align=right>
<td align=center>exp2</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! agm(x,y) where x=sqrt(3), y=sqrt(5)>
<tr align=right>
<td align=center>agm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>1000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! cosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>cosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! tanh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>tanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! acosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>acosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! asinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>asinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! atanh(x) where x=1/sqrt(3)>
<tr align=right>
<td align=center>atanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! x! where x=sqrt(3)>
<tr align=right>
<td align=center>!</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! 2^x where x=sqrt(3)>
<tr align=right>
<td align=center>exp2</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! agm(x,y) where x=sqrt(3), y=sqrt(5)>
<tr align=right>
<td align=center>agm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
</table>
</center>
<p>
<center>
<table border=1>
<tr align=center>
<td align=center>10000 digits</td>
<td align=left>Maple V.5.1</td>
<td align=left>MPF 3.1</td>
<td align=left>MPFR 2001</td>
<td align=left>Mathematica 3.0</td>
<td align=left>Pari 2.0.14 alpha</td>
<td align=left>Magma V2.7-2</td>
</tr>
<tr align=right>
<! sqrt(3)*sqrt(5)>
<td align=center>multiplication
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(3)/sqrt(5)>
<tr align=right>
<td align=center>division</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sqrt(x) where x=sqrt(3)>
<tr align=right>
<td align=center>square root</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! exp(x) where x=sqrt(3)>
<tr align=right>
<td align=center>exponential</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! log(x) where x=sqrt(3)>
<tr align=right>
<td align=center>logarithm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sin(x) and cos(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sin and cos</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! cosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>cosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! sinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>sinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! tanh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>tanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! acosh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>acosh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! asinh(x) where x=sqrt(3)>
<tr align=right>
<td align=center>asinh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! atanh(x) where x=1/sqrt(3)>
<tr align=right>
<td align=center>atanh</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! x! where x=sqrt(3)>
<tr align=right>
<td align=center>!</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! 2^x where x=sqrt(3)>
<tr align=right>
<td align=center>exp2</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
<! agm(x,y) where x=sqrt(3), y=sqrt(5)>
<tr align=right>
<td align=center>agm</td>
<td>
<td>
<td>
<td>
<td>
<td>
</tr>
</table>
</center>
