<title>Known bugs in MPFR-2001</title>
<center><h1>Known bugs in MPFR-2001</h1></center>

<li> The functions <tt>mpfr_agm</tt> and <tt>mpfr_log</tt> produce
     a <tt>Segmentation fault</tt> for large precision (more than 1000 bits).
     Apply the following <a href="patch8">patch</a> to agm.c.

<li> The function <tt>mpfr_set_str_raw</tt> produces an error when the input
     is zero. Apply the following <a href="patch9">patch</a> to set_str_raw.c.

<li> The function <tt>mpfr_out_str</tt> may print 0 for +infinity or
     -infinity. Apply the following <a href="patch10">patch</a> to out_str.c.

<li> The function <tt>mpfr_div_ui</tt> may return incorrect results
     when the dividend is zero.  Apply the following 
     <a href="patch11">patch</a> to div_ui.c.

<li> The function <tt>mpfr_mul_ui</tt> returns incorrect results
     when the destination uses more words than the multiplicand.
     Apply the following <a href="patch12">patch</a> to mul_ui.c.
     
     
